:root {
  --main-white: #f0f0f0;
  --bp-purple: #b931be;
  /* b931be 6C03A8 */
  --bp-blue-light: #29D5FF;
  --bg1: #A6BA6D;
  --bg2: #647891;
  --height-nav:7.5rem;
  --main-gray: #303841;
}
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  overflow-x:hidden;
}
h1,h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.2rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-white);
}
img {
  display: block;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height-nav);
  background: var(--bg2);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.nav-list {
  display: flex;
  margin-right: 2rem;
}
.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}
.nav-list a:hover {
  background: #b9914e;
}

.welcome-section {
  display: grid;
  grid-template-rows: 60% 40%;
  align-items: center;
  height: calc(100vh-var(--height-nav));
  background-color: #222;
  width: 100%;
  padding-top: var(--height-nav);
}
.container-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem
}
.welcome-image {
  max-height: 58vh;
  object-fit: contain;
}
/*left: -5%;*/
#ywm{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
	opacity: 0.7;
	color:red;
}
@media (max-height: 600px) {
  #ywm{
    font-size: 3.5rem;
  }
  .welcome-section h1{
    font-size: 5rem;
  }
}
.welcome-section p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: red;
  text-align: center;
  
  margin-bottom:9vh;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--bg1);
  /* linear-gradient(90deg, var(--bp-blue-light), var(--bp-purple)); */
}
.projects-section-header {
  max-width: 640px;
  margin: 0 auto 4rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.project {
  background: #666;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}
.project:hover{
  color: #ff7f50;
}
.project-image {
	margin-top: 1em;
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: scale-down;
}
.project-title {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 0.5rem;
  color:#fff;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1em;
}
.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.btn-show-all:hover {
  background: var(--bp-purple);
  transform: translateY(8px);
}
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  /* padding: 0 2rem; */
  background: var(--main-gray);
  /* border: 1px solid red; */
}
.contact-section-header > h2 {
  font-size: 6rem;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10rem;
  flex-wrap: wrap;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  margin:0 2rem;
}
.contact-details:hover {
  transform: translateY(8px);
  background:var(--bp-blue-light);
}
