
.cv-section {
	padding: 10rem 10%;
	background: LightCyan;
	color: black;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh; */
}

.cv-section h3 {
	padding: 1rem 0;
	font-size: 1.5em;
}

/* cv */
.page {
    display: block;
	width: 212mm;
	height: 311mm;
	margin: auto;
	/* page-break-after: always; */
	border: none;
}

#page2 {
	display: none;
}